In [3]:
import ipywidgets as widgets
from ipywidgets.widgets import interact, interact_manual
import pandas as pd
import plotly.graph_objects as go

In [7]:
slider = widgets.IntSlider(min=10, max=20, step=1, description='Slider:', value=15)
slider

IntSlider(value=15, description='Slider:', max=20, min=10)

In [9]:
print(slider.value)

16

In [10]:
# the data url
url = "https://data.london.gov.uk/download/number-international-visitors-london/b1e0f953-4c8a-4b45-95f5-e0d143d5641e/international-visitors-london-raw.csv"

# create the data-frame
df_london = pd.read_csv(url, encoding= 'unicode_escape')
df_london.columns = ["year","quarter","market","dur_stay","mode","purpose","area","visits","spend","nights","sample"]

# sample 200 rows
df = df_london.sample(200)

In [11]:
df.head()

,year,quarter,market,dur_stay,mode,purpose,area,visits,spend,nights,sample
33618,2011,October-December,Iceland,1-3 nights,Air,Business,LONDON,2.195588,2.451041,5.503770,2
50818,2016,July-September,Nigeria,15+ nights,Air,VFR,LONDON,6.605643,6.218500,456.035387,5
24190,2009,January-March,Saudi Arabia,15+ nights,Air,Business,LONDON,0.391881,3.344856,13.754640,2
60773,2019,October-December,India,15+ nights,Air,VFR,LONDON,10.181010,4.888413,589.805305,17
36254,2012,July-September,Hungary,8-14 nights,Air,Miscellaneous,LONDON,0.223022,0.208265,1.491313,1

In [14]:
def filter_df(column, threshold):
    return df[df[column]<=threshold]

In [13]:
filter_widget = widgets.interact(filter_df, column=['spend', 'visits'], threshold=(1,30,1))

interactive(children=(Dropdown(description='column', options=('spend', 'visits'), value='spend'), IntSlider(va…

In [15]:
filter_widget.widget

interactive(children=(Dropdown(description='column', index=1, options=('spend', 'visits'), value='visits'), In…

In [17]:
@interact_manual
def scatter_plot(x=list(df.select_dtypes('number').columns), 
                 y=list(df.select_dtypes('number').columns)[1:]):

    # trace
    trace = [go.Scatter(x=df[x], y=df[y], mode='markers')]

    # layout
    layout = go.Layout(
                title = 'Scatter plot', # Graph title
                xaxis = dict(title = x.title()), # x-axis label
                yaxis = dict(title = y.title()), # y-axis label
                hovermode ='closest' # handles multiple points landing on the same vertical
    )

    # fig
    fig = go.Figure(trace, layout)
    fig.show()

interactive(children=(Dropdown(description='x', options=('visits', 'spend', 'nights', 'sample'), value='visits…