In [12]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame({'one': pd.Series(np.random.randn(3), index=['a', 'b', 'c']),
        'two': pd.Series(np.random.randn(4), index=['a', 'b', 'c', 'd']),
        'three': pd.Series(np.random.randn(3), index=['b', 'c', 'd'])})

In [5]:
df2 = df.copy()
df.gt(df2)

     one    two  three
a  False  False  False
b  False  False  False
c  False  False  False
d  False  False  False

In [8]:
df **2

        one       two     three
a  7.447664  0.027632       NaN
b  0.070873  0.935691  1.002826
c  0.002753  0.291676  2.626861
d       NaN  2.376754  0.799116

In [9]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                         'foo', 'foo', 'qux', 'qux'],
                        ['one', 'two', 'one', 'two',
                         'one', 'two', 'one', 'two']]))

index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])

df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])

df2 = df[:4]

In [16]:
df2

                     A         B
first second
bar   one     0.795105 -0.174881
      two    -0.828122 -0.306825
baz   one     0.635435 -0.227658
      two     2.603257 -1.218531

In [20]:
stacked = df2.stack()
stacked

first  second
bar    one     A    0.795105
               B   -0.174881
       two     A   -0.828122
               B   -0.306825
baz    one     A    0.635435
               B   -0.227658
       two     A    2.603257
               B   -1.218531
dtype: float64

In [25]:
stacked.unstack(0)

first          bar       baz
second
one    A  0.795105  0.635435
       B -0.174881 -0.227658
two    A -0.828122  2.603257
       B -0.306825 -1.218531